<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjkj.insurance.mapper.InvoiceinfoMapper" >
  <resultMap id="BaseResultMap" type="com.cjkj.insurance.entity.Invoiceinfo" >
    <id column="invoiceInfo_id" property="invoiceinfoId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="car_info_id" property="carInfoId" jdbcType="INTEGER" />
    <result column="invoice_type" property="invoiceType" jdbcType="CHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="account_number" property="accountNumber" jdbcType="VARCHAR" />
    <result column="identify_number" property="identifyNumber" jdbcType="VARCHAR" />
    <result column="register_phone" property="registerPhone" jdbcType="VARCHAR" />
    <result column="register_address" property="registerAddress" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="prv_id" property="prvId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    invoiceInfo_id, user_id, car_info_id, invoice_type, bank_name, account_number, identify_number, 
    register_phone, register_address, email, task_id, prv_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from invoiceinfo
    where invoiceInfo_id = #{invoiceinfoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from invoiceinfo
    where invoiceInfo_id = #{invoiceinfoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cjkj.insurance.entity.Invoiceinfo" >
    insert into invoiceinfo (invoiceInfo_id, user_id, car_info_id, 
      invoice_type, bank_name, account_number, 
      identify_number, register_phone, register_address, 
      email, task_id, prv_id
      )
    values (#{invoiceinfoId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{carInfoId,jdbcType=INTEGER}, 
      #{invoiceType,jdbcType=CHAR}, #{bankName,jdbcType=VARCHAR}, #{accountNumber,jdbcType=VARCHAR}, 
      #{identifyNumber,jdbcType=VARCHAR}, #{registerPhone,jdbcType=VARCHAR}, #{registerAddress,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{prvId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cjkj.insurance.entity.Invoiceinfo" >
    insert into invoiceinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="invoiceinfoId != null" >
        invoiceInfo_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="carInfoId != null" >
        car_info_id,
      </if>
      <if test="invoiceType != null" >
        invoice_type,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="accountNumber != null" >
        account_number,
      </if>
      <if test="identifyNumber != null" >
        identify_number,
      </if>
      <if test="registerPhone != null" >
        register_phone,
      </if>
      <if test="registerAddress != null" >
        register_address,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="prvId != null" >
        prv_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="invoiceinfoId != null" >
        #{invoiceinfoId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="carInfoId != null" >
        #{carInfoId,jdbcType=INTEGER},
      </if>
      <if test="invoiceType != null" >
        #{invoiceType,jdbcType=CHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="accountNumber != null" >
        #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="identifyNumber != null" >
        #{identifyNumber,jdbcType=VARCHAR},
      </if>
      <if test="registerPhone != null" >
        #{registerPhone,jdbcType=VARCHAR},
      </if>
      <if test="registerAddress != null" >
        #{registerAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="prvId != null" >
        #{prvId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cjkj.insurance.entity.Invoiceinfo" >
    update invoiceinfo
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="carInfoId != null" >
        car_info_id = #{carInfoId,jdbcType=INTEGER},
      </if>
      <if test="invoiceType != null" >
        invoice_type = #{invoiceType,jdbcType=CHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="accountNumber != null" >
        account_number = #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="identifyNumber != null" >
        identify_number = #{identifyNumber,jdbcType=VARCHAR},
      </if>
      <if test="registerPhone != null" >
        register_phone = #{registerPhone,jdbcType=VARCHAR},
      </if>
      <if test="registerAddress != null" >
        register_address = #{registerAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="prvId != null" >
        prv_id = #{prvId,jdbcType=VARCHAR},
      </if>
    </set>
    where invoiceInfo_id = #{invoiceinfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cjkj.insurance.entity.Invoiceinfo" >
    update invoiceinfo
    set user_id = #{userId,jdbcType=INTEGER},
      car_info_id = #{carInfoId,jdbcType=INTEGER},
      invoice_type = #{invoiceType,jdbcType=CHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      account_number = #{accountNumber,jdbcType=VARCHAR},
      identify_number = #{identifyNumber,jdbcType=VARCHAR},
      register_phone = #{registerPhone,jdbcType=VARCHAR},
      register_address = #{registerAddress,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR},
      prv_id = #{prvId,jdbcType=VARCHAR}
    where invoiceInfo_id = #{invoiceinfoId,jdbcType=INTEGER}
  </update>


  <select id="findInvoiceinfo" parameterType="com.cjkj.insurance.entity.Invoiceinfo" resultMap="BaseResultMap">
    SELECT
    *
    FROM
    invoiceinfo i
    WHERE
    i.user_id = #{userId}
    AND
    i.car_info_id = #{carInfoId}
    AND
    i.task_id = #{taskId}


  </select>
</mapper>